# See ovn-northd(8) for details about ovn-northd.
#
# To customize the ovn-northd service, you may create a configuration file
# in the /etc/systemd/system/ovn-northd.d/ directory.  For example, to specify
# additional options to be passed to the "ovn-ctl start_northd" command, you
# could place the following contents in
# /etc/systemd/system/ovn-northd.d/local.conf:
#
#   [System]
#   Environment="OVN_NORTHD_OPTS=--db-nb-sock=/usr/local/var/run/openvswitch/ovnnb_db.sock --db-sb-sock=/usr/local/var/run/openvswitch/ovnsb_db.sock"
#
# Alternatively, you may specify environment variables in the file /etc/sysconfig/ovn-northd:
#
#   OVN_NORTHD_OPTS="--db-nb-sock=/usr/local/var/run/openvswitch/ovnnb_db.sock --db-sb-sock=/usr/local/var/run/openvswitch/ovnsb_db.sock"

[Unit]
Description=OVN northd management daemon
After=syslog.target
Requires=openvswitch.service
After=openvswitch.service

[Service]
Type=oneshot
RemainAfterExit=yes
Environment=OVS_RUNDIR=%t/openvswitch 
EnvironmentFile=-/etc/sysconfig/ovn-northd
ExecStart=/usr/share/openvswitch/scripts/ovn-ctl \
  --db-nb-addr={{ inventory_hostname }} \
  --db-sb-addr={{ inventory_hostname }} \
{% if groups['kube-master']|length > 1 %}
  --db-nb-cluster-local-addr={{ inventory_hostname }} \
  --db-sb-cluster-local-addr={{ inventory_hostname }} \
{% endif %}
  --ovn-northd-nb-db={{ OVN_NB_DBS }} \
  --ovn-northd-sb-db={{ OVN_SB_DBS }} \
{% if inventory_hostname != groups['kube-master'][0] %}
  --db-nb-cluster-remote-addr={{ OVN_LEADER }} \
  --db-sb-cluster-remote-addr={{ OVN_LEADER }} \
{% endif %}
  --db-nb-create-insecure-remote=yes \
  --db-sb-create-insecure-remote=yes \
  --ovn-manage-ovsdb=no \
  start_northd $OVN_NORTHD_OPTS
ExecStop=/usr/share/openvswitch/scripts/ovn-ctl --ovn-manage-ovsdb=no stop_northd

[Install]
WantedBy=multi-user.target
